div class='email-box'
  form action='/' method='post' class='temporary-email'
    span
      = t 'temporary email address'
    input typ='text' value="#{@email.address}" class='user-email'  name='user-email' readonly='readonly'
div class='inbox'
    div class='row head'
        div class='col-xs-2'
          = t 'subject'
        div class='col-xs-4'
          = t 'sender'
        div class='col-xs-4'
          = t 'date'
    hr
div class='inbox-messages'
    - @messages.each do |message|
        div  class='row message' data-id='#{message.id}'
            a  href='#{message_show_path(message)}'
              div class='row'
                div class='col-xs-2'
                    = message.message_subject
                div class='col-xs-4'
                    = message.sender_email
                div class='col-xs-4'
                    = message.updated_at.strftime('%m/%d/%Y %H:%M:%S')
