div
    div class='subject' 
        span 
           | subject:
        = @message.message_subject
    div class='send'
        span 
           | From:
        = @message.sender_email
        div class='pull-right'
            = @message.message_date
    div class='body'
        = @message.message_body

