- if @mailLogs
    - @mailLogs.each do |mailLog|
        div  class='row mailLog-item'
            a  href='/show/#{mailLog.id}'
                div class='col-xs-2'
                    = mailLog.subject
                div class='col-xs-4'
                    = mailLog.sender
                div class='col-xs-4'
                    = mailLog.email_date
