// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {font-family: 'RTNassim';
    src: url('/fonts/RTNassim.eot');
    src: url('/fonts/RTNassim.eot?#') format('eot'),
     url('/fonts/RTNassim.woff') format('woff'),
     url('/fonts/RTNassim.ttf') format('truetype');
 }
.temporary-email input {
    border: 3px solid #ccc;
    border-radius: 4px;
    color: #444;
    direction: ltr;
    font: 15px/20px tahoma;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    width: 242px;
}
.email-box {
    background: #555 none repeat scroll 0 0;
    border-radius: 10px;
    display: block;
    margin: 49px 10px 60px;
    padding: 15px 40px;
}
.inbox {
    display: block;
    width: 100%;
    font-family: RTNassim;
}
.developer a {
    color: blue;
    text-decoration: none;
}
.navbar-nav {
    float:right !important;
}
.navbar-nav > li {
    float:right !important;
}
.navbar-brand {
    float:left;
    font-family: RTNassim;
    font-size:28px;

}
.temporary-email input {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
}
.temporary-email > span {
    color: #eee;
    font: 19px/18px RTNassim;
    margin-left: 15px;
}
.inbox-messages {
      width: 100%;
      margin-bottom: 50px;
  }

.row.message > a {
      display: block;
        width: 100%;
    }
.nav-item a {
  font-family: RTNassim;
}
